.btn-back{
  margin-right:10%;
}

.btn-primary{
  border-color: rgb(65,94,211);
  background-color: white;
  color: rgb(65,94,211);
  :hover {
    border-color: rgb(65,94,211);
    background-color:rgb(65,94,211);
    color: white;
  }
}

div
{
  .buttons {
    float: right;
    overflow: visible;
    width: 21%;
  }
}
