<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="family">Family Name</label>
      <mat-form-field appearance="fill">
        <mat-label>Fill the family name</mat-label>
        <input matInput formControlName="family">
        <mat-error *ngIf="patientForm.get('family')!.hasError('required')">Family name is required</mat-error>
        <mat-error *ngIf="patientForm.get('family')!.hasError('minlength')">Family name length must be greater than 2 character.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="given">Given Name</label>
      <mat-form-field appearance="fill">
        <mat-label>Fill the given name</mat-label>
        <input matInput formControlName="given">
        <mat-error *ngIf="patientForm.get('given')!.hasError('required')">Given name is required</mat-error>
        <mat-error *ngIf="patientForm.get('given')!.hasError('minlength')">Given name length must be greater than 2 character.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="dob">Date of birth</label>
      <mat-form-field appearance="fill"> 
        <mat-label>Date of Birth</mat-label>
        <input class="dob" matInput [matDatepicker]="dob" formControlName="dob" >
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-error *ngIf="patientForm.get('dob')!.hasError('required')">Date of birth is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="sex">Sex of the patient</label>
      <mat-form-field appearance="fill">
        <mat-label>Sex of the patient</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let sex of sexes" [value]="sex.value">{{sex.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('sex')!.hasError('required')">Please select the sex of the patient</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <mat-form-field appearance="fill">
        <mat-label>Fill the address</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="patientForm.get('address')!.hasError('required')">Address is required</mat-error>
        <mat-error *ngIf="patientForm.get('address')!.hasError('minlength')">Address length must be greated than 10 character.</mat-error>
        <mat-error *ngIf="patientForm.get('address')!.hasError('maxlnegth')">Address length cannot exceed 150 character.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>

    </div>
    <div class="buttons">
      <button type="button" class="btn btn-back" (click)="returnToPatient()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="patientForm.invalid">Submit</button>
    </div>
  </form>
</div>
