<header class="col-xs-12">
  <div class="container-header">
    <h2 class="first-line">Historic of patient :</h2>
  </div>
</header>
<body>
  <div class="boxInfo">
    <h3 class="informations">{{patientName}}</h3>
    <div class="id">
      <label class="informations">Patient Id :</label>
      <p class="informations">{{ id }}</p>
      <button class="btn btn-standard" (click)="goToNewHistoric()">Add Historic</button>
    </div>
  </div>
  <div class="cards" *ngFor="let historic of historics">
    <div class="notes">
      <div class="date">
        <label id="date">Date : </label>
        <p id="date">{{ historic.createdAt | date:'dd MMM yyyy, h:mm a' }}</p>
      </div>
      <p>{{ historic.practitionnerNotesRecommandation }}</p>
    </div>
      <button class="btn btn-edit" (click)="goToEdit(historic.id)"><mat-icon>edit</mat-icon></button>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-back" (click)="returnToPatient()">Return</button>
  </div>
</body>
