<div class="col-xs-12">
  <div class="container-header">
    <h2 class="first-line">Patients detail list :</h2>
    <button class="btn btn-standard" (click)="goToNewPatient()">Add patient</button>
  </div>
  <table id="patient">
    <thead>
      <tr >
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>Sex</th>
        <th>Address</th>
        <th>Phone</th>
        <th class="actions">Action</th>
      </tr>
  </thead>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.given }}</td>
      <td>{{ patient.family }}</td>
      <td>{{ patient.dob }}</td>
      <td>{{ patient.sex }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.phone }}</td>
      <td id="buttons">
        <button type="submit" class="btn btn-primary editButton" (click)="goToEditPatient(patient.id)"> <mat-icon>edit</mat-icon></button>
        <button type="submit" class="btn btn-primary editButton" (click)="goToHistoric(patient.id)"> <mat-icon>note</mat-icon></button>
        <button type="submit" class="btn btn-primary editButton" (click)="goToEvaluation(patient.id)"> <mat-icon>assignment</mat-icon></button>
      </td>
    </tr>
  </table>
</div>
