.btn-standard{
  border-color: rgb(65,94,211);
  background-color: white;
  color: rgb(65,94,211);
  float: right;
  margin-top: 0.8%;
}
.btn-standard:hover {
  border-color: rgb(65,94,211);
  background-color:rgb(65,94,211);
  color: white;
}

.container-header{
  display: inline-block;
  width: 90em;
  margin-block-end: 1em;
}

.first-line
{
  display: inline-block;
}

table{
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  .actions{
    width: 15%;
    text-align:center;
  }
  tr{
    td{
      .editButton{
        border-color: rgb(65,94,211);
        background-color: white;
        color: rgb(65,94,211);
        padding: 3px 3px;
        margin-left:40%;
      }
      .editButton:hover {
        border-color: rgb(65,94,211);
        background-color:rgb(65,94,211);
        color: white;
      }

      mat-icon{
        vertical-align:middle;
      }
    }
  }
}


