<div class="col-xs-12" >
  <header class="container-header">
    <h2 class="first-line">Patients detail list :</h2>
    <button class="btn btn-standard" (click)="goToNewPatient()">Add patient</button>
  </header>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="patient" [hidden]="!listDisplay">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let patient"> {{patient.family}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let patient"> {{patient.given}} </td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob}} </td>
    </ng-container>

    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
      <td mat-cell *matCellDef="let patient"> {{patient.sex}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let patient"> {{patient.address}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let patient"> {{patient.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let patient"> 
        <button type="submit" class="btn btn-primary editButton" (click)="goToEditPatient(patient.id)"> <mat-icon>edit</mat-icon></button>
        <button type="submit" class="btn btn-primary editButton" (click)="goToHistoric(patient.id)"> <mat-icon>note</mat-icon></button>
        <button type="submit" class="btn btn-primary editButton" (click)="goToEvaluation(patient.id)"> <mat-icon>assignment</mat-icon></button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="noPatient" [hidden]="listDisplay">
    <p>No patient to display</p>
  </div>
</div>
